/* Container principal e estrutura */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #babff7;
}

.content {
    display: flex;
    gap: 2rem;
    padding: 10px 10%;
}

.leftSide {
    flex: 1;
}

/* Grid de imagens */
.gridImages {
    display: flex;
    gap: 10px;
}

.sideImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sideImages img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sideImages img:hover {
    transform: scale(1.02);
}

.imageFocused {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageFocused img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Animação ao trocar imagem */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

/* Comentários */
.comments {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
}

.comments h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
}

.comments h3 {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: #333;
}

.comments p {
    font-size: 0.95rem;
    color: #555;
    margin: 0;
}

/* Lado do Check-out */
.rightSide {
    flex: 1;
    padding: 2rem;
    background: #fff;
    border-left: 2px solid #eee;
    display: flex;
    flex-direction: column;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #333;
}

.checkoutForm h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #222;
    border-bottom: 2px solid;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Times New Roman', Times;
}
