.container {
    height: 100vh;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3edff;
    color: #000;
}

/* Flex container principal */
.content {
    flex: 1;
    display: flex;
    margin-top: 20px;
    height: 100%;
    width: 60%;
}

/* Cada coluna interna */
.content > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form1 {
    border-radius: 5px 0 0 5px;
    background-color: #fff;
}
.form2 {
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}

/* Responsividade */
@media (max-width: 1145px) {
    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .container {
        padding: 15px 5%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px 3%;
    }

    .content > div {
        padding: 15px;
    }
}
