.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 1fr 500px;
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 130px auto; /* centraliza o conteúdo horizontalmente */
}

@media (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .content {
        margin: 0.4rem;
        padding: 1rem;
    }
}
