/* Comentários */
.CommentsBox {
    max-width: 428px;
}

.commentsT {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin-top: 5px;
    padding: 10px 1rem;
    color: #333;
}

.comments {
    background-color: #fafafa;
    padding: 0 1.5rem;
    height: 40vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}

.comments h2 {
    font-size: 1.25rem;
    color: #222;
    background-color: #e0e0e0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
    z-index: 5;
}

.comments h3 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #444;
}

.comments p {
    font-size: 0.95rem;
    color: #333;
    line-height: 1.4;
}

.comments::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}
.comments::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 15px;
}
