/* Grid de imagens */
.gallery {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 0.5rem;
}
.SideImages {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;
}
.SideImages :global(img) {
    width: 100%;
    height: 100px; /* Altura de cada miniatura */
    object-fit: cover;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.SideImages img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ImageFocused {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.ImageFocused {
    max-width: 100%;
    max-height: 450px;
}
