.gallery {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 0 20px;
    align-items: start;
}

.SideContent::-webkit-scrollbar {
    width: 10px;
    background-color: #f2f2f2;
}

.SideContent::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #555;
    border-radius: 15px;
}

.SideContent {
    max-height: 600px;
    padding: 10px;
    width: 120px;
    overflow-y: auto;
}

.SideImages {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100px;
}

.SideImages img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.SideImages img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ImageFocused {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
    border-radius: 8px;
    overflow: hidden;
}

.imageResponsive {
    object-fit: cover;
    border-radius: 6px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .imageWrapper {
        max-width: 400px;
        height: 400px;
    }
    .gallery {
        grid-template-columns: 100px 1fr;
    }
}
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .SideContent::-webkit-scrollbar {
        height: 10px;
        background-color: #f2f2f2;
    }

    .SideContent::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 15px;
    }

    .SideContent {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* alinhamento vertical ao topo */
        justify-content: flex-start; /* alinhamento horizontal ao início */
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        padding-left: 1rem; /* ajuste conforme necessário */
    }

    .SideImages {
        flex-direction: row;
        justify-content: flex-start; /* alinha as imagens à esquerda */
        align-items: flex-start; /* alinha ao topo */
        width: auto;
    }

    .SideImages img {
        width: 80px;
        height: 80px;
    }

    .imageWrapper {
        width: 100%;
        max-width: 90vw;
        height: 300px;
        aspect-ratio: 1/1;
    }

    .imageResponsive {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 380px) {
    .SideContent {
        padding-left: 1rem; /* ou 0, se quiser colado à borda */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
