.footer {
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer p {
    font-family: 'Times New Roman', Times, serif;
}

.containerImg {
    height: 140px;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--fst);
}
.sdboxRedes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 10px;
    width: 100%;
    margin-right: 10rem;
}

.redes {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

/* Container */
.footer .container {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espaça os itens de forma equilibrada */
    align-items: center; /* Centraliza verticalmente os itens dentro do container */
}
.fstBox {
    width: 25%;
    padding: 10px 50px 0 0;
    font-size: 16pt;
}

.fstBox p {
    margin-top: 20px;
}

.sdBox {
    width: 15%;
}
.sdBox h2 {
    margin-bottom: 20px;
}
.sdBox li {
    margin-top: 10px;
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
}

/* Itens do Container */
.container ul {
    list-style: none;
}

.container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .container ul {
        width: 100%;
        margin: 10px 0;
    }

    .container ul > p {
        margin-bottom: 5px;
    }
}
