.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #ffc8f8, #ddc8ff, #aabdf8);
}

.content {
    flex: 1; /* Para ocupar o espaço restante (90%) */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.form,
.info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 650px;
    padding: 2rem;
    margin: 0; /* Sem margem extra */
    border-radius: 8px;
    background: linear-gradient(135deg, #fff, #fafafa, #dbdbdb);
    color: #000;
}

.info {
    align-items: flex-start;
    justify-content: flex-start; /* Alinha o conteúdo ao topo */
    padding: 2.5rem;
    width: 100%;
}

.form h2,
.info h2 {
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.name {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.name input {
    flex: 1;
}

.container input,
.container textarea {
    width: 100%;
    padding: 0.75rem;
    margin: 10px 0 1rem;
    font-size: 1rem;
    background: none;
    border: 1px solid #000;
    outline: none;
    font-family: inherit;
    color: #000;
}

.container input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.container textarea {
    resize: vertical;
    max-height: 200px;
    border-style: dashed;
}

.container input::placeholder {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 5px;
    left: -10px;
}

.form h3 {
    margin: 1.5rem 0 0.5rem;
    font-weight: 400;
    align-self: flex-start;
}

.form p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    text-align: center;
}

.info h3 {
    color: #ab307b;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 1rem;
    align-self: flex-start;
}

.info p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    align-self: flex-start;
}

.redesSociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.redesSociais ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
}

.redesSociais li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.redesSociais li a {
    color: #2e50b6;
    text-decoration: none;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        font-size: 0.8rem;
    }

    .content input::placeholder {
        font-size: 0.8rem;
    }

    .info p {
        font-size: 1rem;
    }
}
