/* === Estrutura geral === */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* distribui esquerda, centro e direita */
    align-items: center;
    background-color: var(--fst);
    color: #fff;
    z-index: 999;
    position: fixed;
    padding: 10px 20px;
}

.leftContent {
    flex: 2;
    display: flex;
    justify-content: center; /* centraliza a imagem */
    align-items: center;
}

/* === Barra de rolagem horizontal com setas === */
.scrollContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.imageWrapper {
    position: relative;
    width: 200px; /* controla o tamanho da logo */
    height: 110px; /* proporcional à largura */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper img {
    object-fit: contain;
}

/* === Ícone do menu (hambúrguer) === */
.Bars {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 5;
}

.rightContent {
    position: absolute; /* joga o conteúdo para a direita */
    display: flex;
    right: 50px;
}

.rightContent ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

/* === Responsivo: Mobile === */
.mobileOnly {
    display: none;
}

.menuDrawer {
    display: none;
}

.navbar ul li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.icon {
    margin-right: 5px;
    font-size: 1.2rem;
}

@media (max-width: 899px) {
    .navbar {
        display: flex;
        align-items: center;
    }
    .Bars {
        display: block;
        z-index: 16;
        align-self: center;
    }
    .arrow {
        display: none;
    }

    .imageWrapper {
        width: 120px;
        height: 70px;
    }
    .imageWrapper img {
        width: 80px;
        height: 80px;
    }

    .rightContent {
        display: none;
    }

    .scrollWrapper {
        scroll-padding-left: 200px;
        width: 100%;
    }

    .mobileOnly {
        display: block;
    }

    .menuDrawer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 0;
        left: -100%;
        width: min(80vw, 340px);
        height: 100vh;
        padding: 80px 25px 20px;
        background-color: #fff;
        color: #333;
        z-index: 15;
        transition: left 0.3s ease-in;
    }

    .menuDrawer {
        margin-right: 5px;
    }

    .menuDrawer li a {
        font-size: 14pt;
    }

    .menuDrawer.active {
        left: 0;
    }

    .navbar ul li {
        list-style: none;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .icon {
        margin-right: 5px;
        font-size: 1.2rem;
    }
}
