.navbar {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: #365b6d;
}

/* Conteudo superior da navbar */

.topContent {
    width: 100%;
    padding: 7.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightContent {
    display: flex;
}

.rightContent a {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 20px;
}

/* Conteudo inferior da navbar */

.bottomContent {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #289dd2;
}

.bottomContent ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.gp1,
.gp2 {
    display: flex;
}

.bottomContent ul a {
    font-size: 20pt;
    margin: 0 20px;
}

.Bars {
    display: none; /* esconde por padrão */
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}

@media (max-width: 1230) {
    .bottomContent ul a {
        font-size: 16pt;
    }
}

@media (max-width: 910px) {
    .Bars {
        display: block;
        margin-right: 20px;
        z-index: 3;
    }

    .todosBars {
        display: flex;
    }

    .todosBars a {
        position: relative;
        right: 50px;
    }

    .gp2 {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        background-color: rgb(76, 139, 170);
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        padding-left: 40%;
        padding-top: 200px;
        z-index: 2;
    }

    .gp2 li {
        margin: 10px 0;
    }

    .gp2.active {
        left: -40%;
    }
}

@media (max-width: 405px) {
    .gp1 li {
        margin: 25px 0;
    }

    .rightContent {
        display: none;
    }
}
