.returnTop {
    position: fixed;
    bottom: 50px;
    left: 15px;
    border-radius: 50%;
    background-color: var(--sd);
    border: 2px solid var(--white);
    color: #fff;
    padding: 10px 12px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}
