.returnTop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    background: var(--fst);
    border: none;
    opacity: 0.85;
    color: #fff;
    padding: 12px 14px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    animation: bounce 2s infinite;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}
