/* Desktop Menu */
.title {
    margin-top: 1rem;
    margin-left: 2.5rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-family: var(--urbanist);
}
.MenuDesktop {
    margin: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0;
    gap: 10px;
}

.MenuDesktop ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.MenuDesktop button {
    font-family: var(--merriweather);
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: var(--text-black);
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s;
}

/* Mobile Menu */
.drawerToggle {
    right: 20px;
    background: var(--fst);
    border: none;
    border-radius: 50%;
    padding: 12px;
    z-index: 10;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
    opacity: 0.85;
    transition: all 0.3s ease;
    animation: pulse 0.5s infinite alternate;
}

/* Posição inicial (antes do scroll) */
.relative {
    position: absolute;
}

/* Após rolar (torna-se fixo no topo) */
.fixed {
    position: fixed;
    top: 20px;
}

/* Drawer lateral */
.filterDrawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    padding: 100px 20px 0 20px;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
}

.filterDrawer.open {
    transform: translateX(0);
}

.drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Garante que ocupe a largura total */
    padding: 0 4px; /* Dá espaço nas laterais */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.drawerHeader h3 {
    font-size: 16pt;
    margin: 0;
}

.closeBtn {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s;
}

.closeBtn:hover {
    background: #f5f5f5;
}

/* Lista de filtros */
.filterDrawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.filterDrawer button {
    right: 50px;
    padding: 8px;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s;
}

.filterDrawer button:hover {
    background: #f0f0f0;
}

/* Fundo escurecido */
.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 90;
}

@media (max-width: 950px) {
    .MenuDesktop {
        display: none;
    }

    .title {
        font-size: 1.5rem;
    }
}

/* Apenas em mobile */
@media (min-width: 950px) {
    .drawerToggle,
    .filterDrawer,
    .backdrop {
        display: none;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
