.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
}

.sliderWrapper {
    width: 20%; /* ajuste conforme necessário */
    height: auto;
    overflow: hidden;
    position: relative;
}

.textBox {
    width: 35%;
    color: #fff; /* ou a cor desejada */
}

.slide {
    min-width: 100%;
    height: auto;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
