.header {
    width: 100%;
    height: auto;
    aspect-ratio: 24 / 12; /* você pode ajustar isso conforme sua preferência */
    position: relative;
    overflow: hidden;
    margin: -8% 0;
    left: 5%;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    width: 50%;
    height: 50%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    will-change: opacity;
    z-index: 0;
    display: flex;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.image {
    object-fit: cover;
}

/* Responsivo */
@media (max-width: 1024px) {
    .header {
        aspect-ratio: 16 / 9;
        left: 10%;
    }

    .slide {
        width: 80%;
        height: 60%;
    }
}

@media (max-width: 768px) {
    .header {
        aspect-ratio: 3 / 2;
        left: 15%;
    }

    .slide {
        width: 100%;
        height: 60%;
    }
}

@media (max-width: 500px) {
    .header {
        margin: 5% 0;
        aspect-ratio: 6 / 3;
    }

    .slide {
        width: 100%;
        height: 100%;
    }
}
