.container {
    width: 100%;
    height: auto;
}

.content {
    max-width: 1500px; /* ou o valor desejado para a largura do "box page" */
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
