.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0 50px;
    background-color: #fff;
}

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    width: 100%;
}

.slider {
    flex-direction: row-reverse;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.imageWrapper {
    flex: 0 0 auto;
    width: 250px;
    height: 250px;
    position: relative;
}

.image {
    object-fit: contain;
    border-radius: 0.75rem;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0;
    color: #365b6d;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #365b6d;
}

.tulipicon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease;
}

.tulipicon:hover {
    transform: scale(1.05);
}

.tulipicon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* === MEDIA QUERIES === */

@media (max-width: 768px) {
    .slider {
        flex-direction: column;
        gap: 3rem;
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 2.4rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 100px;
    }

    .title {
        font-size: 2rem;
    }
    .tulipicon img {
        width: 6rem;
        height: 100%;
        object-fit: contain;
    }
}
