/* Container principal */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.formHeader {
    width: 100%;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.buttonBack,
.buttonOut {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.buttonBack {
    border: 1px solid #fff;
    background-color: #ffffff;
    color: #000;
}
.buttonOut {
    border: 1px solid #cf3a3a;
    background-color: #cf3a3a;
    color: #000;
}

.buttonBack:hover,
.buttonOut:hover {
    border: 1px solid #000;
    background: none;
}

.formHeader h1 {
    font-size: 1.5rem;
    color: #333;
}

/* Container do Formulário */
.containerForm {
    width: 100%;
    max-width: 900px; /* Limita a largura */
    border-radius: 8px;
    position: relative;
    bottom: 200px;
}

/* Não autenticado */

.notAuth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pOut {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

.notAuth button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 20px;
    font-size: 14pt;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #000;
}

/* Responsividade */
@media (max-width: 768px) {
    .buttonContainer {
        gap: 1rem;
    }

    .buttonBack {
        width: 50%;
        padding: 12px;
    }

    .buttonBack,
    .buttonOut {
        z-index: 5;
        padding: 12px;
    }

    .formHeader h1 {
        font-size: 1.5rem;
    }

    .containerForm {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .formHeader h1 {
        font-size: 1rem;
    }

    .containerForm {
        padding: 1rem;
    }
}
