.container {
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
    margin-bottom: 1.5rem;
}

.title {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: var(--urbanist);
    font-weight: bold;
}

.top h2 a {
    font-weight: 500;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
}

.releases {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1.5rem 1rem;
    overflow: hidden;
}

/* Garantir que o link ocupe o item inteiro */
.releases a {
    width: 100%;
    display: block;
}

/* ───────── ITEM ───────── */

.boxContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

/* Igual ao BoxItem */
.boxItem {
    border-radius: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper real da imagem */
.imageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Imagem dentro do wrapper */
.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.releases div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.releases h3 {
    margin: 1rem 0 0.5rem 0;
    font-family: var(--urbanist);
    font-size: 1.75rem;
    text-align: center;
    font-weight: 500;
}

.releases p {
    font-family: 'Geist', monospace;
    font-size: 1.7rem;
    color: var(--fst);
}

@media (max-width: 950px) {
    .releases h3 {
        font-size: 1.2em;
    }

    .releases p {
        font-size: 1.3rem;
    }
}
@media (max-width: 690px) {
    .releases h3 {
        font-size: 1rem;
    }

    .releases p {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }
    .releases {
        grid-template-columns: repeat(1, minmax(5rem, 1fr));
    }

    .releases h3 {
        font-size: 1.5rem;
    }

    .releases p {
        font-size: 1.5rem;
    }
}
