.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, #ffc8f8, #aabdf8, #aabdf8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    width: 30rem;
    height: 70vh;
    border-radius: 25px;
    color: #000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0 20px;
    background: none;
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    outline: none;
    color: #000;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
}

.form h4 {
    align-self: flex-start;
    margin: 0 0 0 3rem;
    font-size: 14pt;
}

.form button {
    width: 50%;
    padding: 8px;
    margin: 20px 0 0 0;
    background: #aabdf8;
    border: 1px solid #aabdf8;
    color: #000;
    border-radius: 5px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.form button:hover {
    background: none;
    border: 1px solid #000;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.buttonBack {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 20px;
    font-size: 14pt;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #000;
}
