:root {
    --base: #e3edff;
    --fst: #025883;
    --sd: #024669;
    --links: #54baec;
    --white: #f8f8f8;
    --text-black: #8b8b8b;
    --confirm-btn: #3becc0;
    --cancel-btn: #d05648;
    --cancel-btn-hover: #bc5044;
    --p-color: #525252;
    --verdana: 'Verdana, Geneva, Tahoma, sans-serif';
    --urbanist: 'Urbanist', sans-serif;
    --geist: 'Geist Mono', monospace;
    --merriweather: 'Merriweather Sans', sans-serif;
    --input-color: #000;
    --input-padding: 5px 5px;
    --input-margin: 5px 0;
    --input-border-width: 1.4px;
    --input-border-style: solid;
    --input-border-color: #000;
    --input-font-size: 1.1rem;
    --label-font-size: 1rem;
    --text-font-size: 0.95rem;
    --section-title-font-size: 1.3rem;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
