.visitsContainer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 10px;
}

.welcomeOverlay {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

@media (max-width: 900px) {
    .welcomeOverlay {
        visibility: visible;
    }
}
