@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    background-color: #fff;
    max-width: 50%;
    justify-self: center;
    padding: 1rem;
}

.paginationBtn {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin: 0 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(6);
}

.paginationBtn:hover {
    transform: translateY(2);
}

.paginationCounter {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Belleza', sans-serif;
}

@media (max-width: 768px) {
    .paginationContainer {
        justify-self: center;
        max-width: 100%;
        padding: 0.5rem 0;
        margin-right: 1rem;
        margin-left: 1rem;
        gap: 0.5rem;
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }

    .paginationBtn {
        font-size: 1.2rem;
        margin: 0 1rem;
    }

    .paginationCounter {
        font-size: 1.2rem;
    }
}
