.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: white;
    padding: 5%;
    border-radius: 15px;
}

.payMethod {
    display: flex;
    flex-direction: row-reverse;
}

.Top {
    margin: 20px;
    max-width: 100%;
}

.Top h3 {
    font-size: 22pt;
}
.Top p {
    margin-top: 10px;
}

.Top ul {
    list-style: none;
    margin: 10px 10px;
}

.Top li {
    margin: 5px 0;
}

.textBtn {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.textBtn textarea {
    width: 100%;
    background: none;
    color: #000;
    font-size: 12pt;
    overflow: hidden;
    resize: none;
    padding: 5px;
    max-height: 30px;
    border-radius: 5px;
    outline: none;
}

.textBtn button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #57b49e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.textBtn button:hover {
    background-color: #489482;
}

/* Status area */

.toast {
    color: rgb(59, 209, 59);
}

.statusArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statusMessage {
    margin: 10px 0;
}

.ConfirmPay {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--sd);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnCancel {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: 1px solid #000;
    background: rgb(252, 252, 252);
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

.btnCancel:hover {
    background-color: #ff4b4b;
}

@media (max-width: 778px) {
    .payMethod {
        flex-direction: column;
        align-items: center;
    }

    .Top ul {
        margin: 0px;
    }

    .Top li {
        margin: 10px 0;
    }
}
