@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.checkoutForm::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}
.checkoutForm::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 15px;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    color: #333;
    width: 600px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.itemTitle {
    font-size: 24pt;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.itemDescription {
    font-size: 14pt;
    color: #555;
    margin-bottom: 1.1rem;
    min-width: 300px;
}

.checkoutForm input {
    outline: none;
    color: #000;
}

.checkoutForm h2 {
    font-size: 2rem;
    border-bottom: 2px solid black;
    margin-bottom: 1.5rem;
}

.finishing {
    padding-top: 1rem;
}

.inputGroup {
    margin-bottom: 1.5rem;
}

.inputGroup label {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.inputGroup input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.4rem;
    background: none;
    font-size: 1rem;
}

.finishing {
    margin-top: 1rem;
}

.topFinish {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.finishItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
    flex: 1;
    min-width: 120px;
}

.labell {
    color: #00cccc;
}

.finishItem select {
    background-color: #d6d6ff;
    padding: 0.5rem;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: #000;
}

.bottomFinish {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 0.5rem;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.price {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonFinish {
    background-color: #f8a7b4;
    border: none;
    border-radius: 20px;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    align-self: flex-end;
    margin-top: 1rem;
}

.buttonFinish:hover {
    background-color: #ff6f91;
    transition: all 0.3s ease;
}

/* CheckoutForm.module.css */

.buttonAddCart {
    background-color: #f8d2a7;
    border: none;
    border-radius: 20px;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    align-self: flex-end;
    margin-top: 1rem;
}

.buttonAddCart:hover {
    background-color: #ffc107;
    transition: all 0.3s ease;
}
