.GoCart {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1px;
    font-weight: 600;

    color: #fff;
}

@media (max-width: 550px) {
    .GoCart {
        font-size: 1.2rem;
    }
}
