.sliderItems {
    width: 100%;
    height: 720px;
    object-fit: cover;
}
.banners :global(.swiper) {
    direction: ltr !important;
}

/* ----- Estilo padrão das bolinhas ----- */
.banners :global(.swiper-pagination-bullet) {
    background: #ccc !important; /* cor padrão */
    opacity: 1 !important;
    width: 8px;
    height: 8px;
}

/* ----- Estilo do bullet ativo ----- */
.banners :global(.swiper-pagination-bullet-active) {
    background: var(--links) !important; /* cor ativa preta */
    transform: scale(1.2);
}
@media (max-width: 1200px) {
    .sliderItems {
        height: 80%;
    }
}

@media (max-width: 768px) {
    .banners :global(.swiper-pagination-bullet) {
        width: 5px;
        height: 5px;
        gap: 1rem;
    }
}
