.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #365b6d;
    color: #fff;
}

.back__ {
    background: none;
    border: none;
    cursor: pointer;
}

.topContent {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftContent {
    display: flex;
    align-items: center;
}

.rightContent {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 16pt;
}
.Bars {
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
}

.ButtonBack {
    z-index: 5;
}
/* Drawer lateral apenas para conteúdos extras no mobile */
.menuDrawer {
    display: none;
}

.mobileOnly {
    display: none;
}

.Admin {
    margin-left: 20px;
    font-weight: bold;
}

.back {
    border: 2px solid #000;
    background-color: white;
    color: #000;
    border-radius: 15px;
    font-size: 12pt;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.back:hover {
    background: none;
    color: #fff;
}

@media (max-width: 899px) {
    .Bars {
        display: block;
        z-index: 5;
    }
    .arrow {
        display: none;
    }
    .scrollContainer {
        overflow-x: auto;
    }

    .rightContent {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .menuDrawer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: rgba(76, 139, 170, 0.95);
        padding: 80px 20px 20px 20px;
        z-index: 4;
        transition: left 0.3s ease-in-out;
    }

    .menuDrawer.active {
        left: 0;
    }

    .Admin {
        margin-left: 0;
        margin-top: 10px;
    }
}
