.Main {
    min-height: 100vh;
    padding: 50px 0;
    overflow-x: hidden;
}

.boxContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 0 20px;
}

.lineContent {
    margin-top: 50px;
}
