.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.top {
    width: 100%;
    height: 60px;
    background-color: var(--sd);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 20px;
}

.down {
    width: 100%;
    height: auto;
    background-color: var(--fst);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    font-size: 1.2rem;
    gap: 15px;
}

.left ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menuButton {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.drawer {
    position: fixed;
    top: 0;
    border-radius: 0 8px 8px 0;
    left: -300px;
    width: 15rem;
    height: 100vh;
    padding: 50px 30px;
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    gap: 20px;
    transition: left 0.3s ease;
    z-index: 20;
}

.drawer.open {
    left: 0;
}

.closeButton {
    background: none;
    border: none;
    color: white;
    align-self: flex-end;
    cursor: pointer;
}

.drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drawer ul li a {
    color: var(--text-black);
    font-size: 1.2rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .left ul {
        display: none;
    }
}
