.methodRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.Subtitle {
    font-size: 1.2rem;
    color: var(--p-color);
    margin: 0.5rem 0 0.5rem 0;
}

.SelectWrapper select {
    font-size: 1.2rem;
}
